<section id="about" style="scroll-margin-top: 70px;">
    <div class="container">
        <h3><strong class="text-decoration-underline" style="font-weight: bolder;">About</strong></h3>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <picture>
                    <img src="assets/images/profile.jpg" alt="photo de profil" class="img-fluid">
                </picture>
                <div class="d-flex justify-content-center">
                    <a class="btn-social-media" href="https://www.linkedin.com/in/shewani/" rel="tooltip"
                        target="_blank" title=''>
                        <mat-icon class="fab fa-linkedin"></mat-icon>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon"
                        href="https://github.com/Shewani-tech" rel="tooltip" target="_blank" title=''>
                        <mat-icon class="fa fa-github"></mat-icon></a>
                </div>
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0">
                <h3>Web and mobile application developer</h3>
                <p class="font-italic">

                    Hi, I'm Shewani Negi. A Web Developer
                    I'm a Web Developer, I love to create beautiful and functional websites. Looking forward for
                    challenging assignments that will enhance my career.</p>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <span class="material-icons">location_on</span><strong>Bangalore </strong>
                            </li>
                            <li>
                                <span class="material-icons">business</span><strong> Lens, France</strong>
                            </li>
                            <li>
                                <span class="material-icons">email</span>
                                <strong>
                                    <a href="mailto:zinedine.benkhider&#64;gmail.com">shewanioffical&#64;gmail.com</a>
                                </strong>
                            </li>
                        </ul>

                    </div>


                </div>
                <p>

                </p>
                <p class="font-italic">I am looking for an innovative and user-centric company to best meet the needs
                    customer, from his idea to the final delivery of his project, or participate in the improvement of a
                    project existing.</p>
            </div>
        </div>
     <div class="cv-container">
  <a mat-raised-button color="primary" class="cv-button" href="assets/cv/resume.pdf" download>
    <mat-icon>cloud_download</mat-icon> Download CV
  </a>
</div>

    </div>

</section>