<section id="contact" style="scroll-margin-top: 70px;">
  <div class="container mb-5">
  <h3><strong class="text-decoration-underline" style="font-weight: bolder;">Contact Me</strong></h3>
    <span class="bar-title mb-5 d-block"></span>

    <div class="row">
      <!-- Info -->
      <div class="col-md-3" data-aos="fade-right" data-aos-delay="100">
        <div class="contact-info text-center" [ngStyle]="{backgroundImage:'url(assets/images/contact.jpg)'}">
         <div class="msg"> <mat-icon>mail</mat-icon>
          <h4>Do not hesitate to contact me</h4></div>
        </div>
      </div>

      <!-- Form -->
      <div class="col-md-9" data-aos="fade-left" data-aos-delay="200">
        <div *ngIf="submitted" class="alert alert-success">
          Thank you for your message!
        </div>
        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
          <div class="form-group mb-3">
            <label for="identite">Name</label>
            <input type="text" class="form-control" id="identite" placeholder="Your Name" name="name"
              [(ngModel)]="formData.name" required />
          </div>

          <div class="form-group mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Your Email" name="email"
              [(ngModel)]="formData.email" required email />
          </div>

          <div class="form-group mb-3">
            <label for="message">Message</label>
            <textarea class="form-control" rows="5" id="message" placeholder="Your Message" name="message"
              [(ngModel)]="formData.message" required></textarea>
          </div>

          <div class="form-group text-end">
            <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">
              Send
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>