<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark px-3">
    <div class="container-fluid">

      <a mat-raised-button color="primary"
        class="cv-button me-auto d-flex align-items-center text-white text-decoration-none" href="assets/cv/resume.pdf"
        download>
        <mat-icon class="me-1">cloud_download</mat-icon> Download CV
      </a>


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- 🔹 Right Side: Nav Links -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item p-1 rounded">
            <a class="nav-link smooth-scroll text-uppercase" href="#"><i class="bi bi-house"></i> Home</a>
          </li>
          <li class="nav-item p-1 rounded">
            <a class="nav-link smooth-scroll text-uppercase" href="#about"><i class='bx bx-user'></i> About</a>
          </li>
          <li class="nav-item p-1 rounded">
            <a class="nav-link smooth-scroll text-uppercase" href="#skills"><i class='bx bx-briefcase-alt'></i>
              Skills</a>
          </li>
          <li class="nav-item p-1 rounded">
            <a class="nav-link smooth-scroll text-uppercase" href="#project"><i class='bx bx-book-content'></i>
              Portfolio</a>
          </li>
          <li class="nav-item p-1 rounded">
            <a class="nav-link smooth-scroll text-uppercase" href="#contact"><i class='bx bx-envelope'></i> Contact
              Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>